
<%= form_for [@user,@wiki] do |f| %>
  <% if @wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_group_tag(@wiki.errors[:title]) do %>
     <%= f.label :title %>
     <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
  <% end %>
  <%= form_group_tag(@wiki.errors[:description]) do %>
    <%= f.label :body %>
    <%#= f.text_area :body, style:'width:400px;height:100px;', class: 'form-control', placeholder: "Enter wiki body" %>
    <%= f.text_area :body, style:'height:300px;', data: {provide: "markdown"}, class: 'form-control', placeholder: "Enter wiki body" %>
  <% end %>
  <div>
    <%= markdown(@wiki.body) %> 
  </div>
  <% if current_user.admin? || current_user.premium? || current_user.collaborator_for(@wiki) %>
    <div class="form-group">
      <%= f.label :private, class: 'col-md-4 checkbox' do %>
        <%= f.check_box :private %>Private wiki
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-primary' %>
    <%= link_to 'exit_edit_mode', wikis_path, class: 'btn btn-primary' %>
  </div>
<% end %>