
<div style="width:90%; height:1200px; margin-left:150px;background-color:black; border: 3px solid #191970; color:white">

<%# raise @wiki.inspect %>
<% if @wiki.private? %>
  <h2>Edit Private wiki</h2>
<% else %>
  <h2>Edit Public wiki</h2>
<%end%>

<div class = "row">
   <div class = "col-md-8">
      <%= form_for [@user,@wiki] do |f| %>
         <% if @wiki.errors.any? %>
            <div class="alert alert-danger">
               <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
               <ul>
                  <% wiki.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
               </ul>
            </div>
         <% end %>
         <%= form_group_tag(@wiki.errors[:title]) do %>
           <%= f.label :title, style:'margin-left:40px;width:750px;' %>
           <%= f.text_field :title,  style:'margin-left:40px;width:750px;',size: 15, class: 'form-control', placeholder: "Enter wiki title" %>
         <% end %>
         <%= form_group_tag(@wiki.errors[:description]) do %>
            <%= f.label :body,  style:'margin-left:40px;' %>
            <%= f.text_area :body, style: 'height:300px;width:750px; margin-left:40px;', class: 'form-control', placeholder: "Enter wiki body" %>
         <% end %>
         <div style="margin-left:40px;">
           <p> <%= markdown(@wiki.body) %> </p> 
         </div>
         
         <% if (current_user.admin? || current_user.premium?) || current_user.collaborator_for(@wiki)%>
            <div class="form-group", style: 'margin-left:40px;>
               <%= f.label :private,class: 'checkbox' do %>
                  <%= f.check_box :private, style: 'margin-left:40px;margin-top:2px; margin-bottom:2px' %>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Private wiki
               <% end %>
            </div>
         <% end %>

        <div class="form-group">
           <%= f.submit "Save", class: 'btn btn-success',style: 'margin-left:40px;' %>
        </div>
      <% end %>
      <% if (current_user.admin? || current_user.premium? && @wiki.private) %>
        <%= render partial: 'collaborators/collaborator', locals: { wiki: @wiki } %>
      <% end %>
   </div>
</div>
</div>
