
<div class = "row">

<% if current_user.standard? %>
  <h2>Standard User</h2>
<% else %>
  <h2>Premium User</h2>
<% end %>
  
<% if current_user.standard? %>
    <%= link_to "Click and Pay to become Premier User", new_charge_path, class: 'btn btn-primary btn-md' %>
<% end %>

<h4>My Wikis</h4>

<%= link_to "new wiki", new_wiki_path, class: 'btn btn-success new-wiki' %>
<table>
  <tr>
    <th>Wiki(click wiki link below to edit) </th>
    <th>Wiki(click link to show) </th>
    <th>Wiki(click link to delete) </th>
  </tr>
  <% @wikis.each do |wiki| %>
    <tr>
        <%# if policy(wiki).edit? %>
          <td><%= link_to wiki.title, edit_wiki_path(wiki), style:'color:blue' %></td>
        <%# end %>
        <%# if policy(wiki).show? %>
          <td><%= link_to "show", [wiki], method: :get, style:'color:green' %></td>
        <%# end %>
        <%# if policy(wiki).destroy? %>
          <td><%= link_to "delete", [wiki], method: :delete , style:'color:red'%></td>
          
        <%#end %>
    </tr>
  <% end %>
</table>
<br>
<% if current_user.premium? %>
  <%= link_to "Downgrade to become standard user", wiki_downgrade_path(current_user), class: 'btn btn-primary btn-md' %>
<% end %>

</div>

